<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light bojaa">
    <div class="collapse navbar-collapse col-md-9" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profilUcesnik">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/objektiMoji">Dodaj objekat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/objektiSviMoji">Moji objekati</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/agencije">Agencije</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posaoDodavanje">Dodaj posao</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posaoPregled">Pregledaj posao</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" (click)="odjaviSe()">Odjavi se</a>
      </li>
      </ul>
    </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
            <h2>Dobrodosli {{korisnik.ime}} !</h2>
      <hr>
  </div>
</div>
</div>
<div class="footer">

  <div class="footer_contents"> <b> &#169; </b> Umetnost.rs</div>
</div>

</body>
</html>
