<div class="column" style="width: 10%; align-items: flex-end;" >
  <div class="row" >
   <h3 style="color: aliceblue;">Order By </h3>
  </div>
  <div class="row" style="display: flex;" >
    <button (click)="sortName()">Po nazivu </button>
  </div>
  <!-- <div class="row" >
    <button (click)="sortDate()">Po datumu </button>
  </div> -->
  <div class="row" style="display: flex;" >
    <button (click)="sortPlace()">Po mestu </button>
  </div>
  <!-- <div class="row" >
    <button (click)="sortAbout()">Po opisu </button>
  </div>
  <div class="row" >
    <button (click)="sortMore()">Po detaljnom opisu </button>
  </div> -->
</div>
<div class="column" style="width: 50%; margin-left: 18%;">
  <div class="row">
    <table class="tabela">
      <tr>
          <td>Ime agencije:</td>
          <td>
              <input type="text" [(ngModel)]='poImenu'>
          </td>
      </tr>
      <tr>
          <td>Mesto:</td>
          <td>
              <input type="text" [(ngModel)]='poMestu'>
          </td>
      </tr>
      <tr colspan="2">
          <td></td>
         <td><button class="btn btn-success rounded" style="margin-bottom: 40px;" (click)="searchRadionice()">Pretrazi</button></td>
      </tr>
      <ng-template #nowritersmssg>
        No writers found.
      </ng-template>
    </table>
    </div>

    <div class="column" style="width: 70%; margin-left: 18%;">
      <table border=1 frame=hsides rules=rows class="tabela" style="text-decoration: solid; display: block; " >
        <div class="row" style="padding: 1%; display: inline-block;">
        <tr *ngFor = 'let radionicaa of agencije'>
            <h4>Agencija: {{radionicaa.nazivOrganizacije}} </h4>
            <h4>{{radionicaa.adresaSedistaOrg}} </h4>
            <button (click)="udjiUradionicu(radionicaa)"> Detalji </button>
          </tr>
        </div>
      </table>
      </div>
  <!-- <table class="tabela">
    <ng-container *ngFor='let radionicaa of agencije' >
        <tr><td><h2>{{radionicaa.username}}</h2></td></tr>
        <tr><td>{{radionicaa.kratakOpis}}</td></tr>
    </ng-container>
</table> -->


</div>




