<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h2>Objekat:</h2>
<canvas id="myCanvas"></canvas>

<div >
  <label class="col-md-4 control-label">Klijent: {{myobject.username}}</label>
  </div>
<div >
  <label class="col-md-4 control-label">Adresa: {{myobject.adresa}}</label>
  </div>
  <div>
  <label class="col-md-4 control-label" >Tip: {{myobject.tip}}</label>
  </div>
  <div>
  <label class="col-md-4 control-label" >Broj prostorija: {{myobject.brojProstorija}}</label>
  </div>
  <div>
  <label class="col-md-4 control-label" >Kvadratura: {{myobject.kvadratura}}m2</label>
  </div>

<div class="footer">

  <div class="footer_contents"> <b> &#169; </b> Umetnost.rs</div>

</div>

</body>
</html>
